:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
    --primario: #784d3c;
    --gris: #8f96a3;
    --blanco: #ffffff;
    --negro: #000000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

.container {
    width: min(90%, 120rem);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: var(--fuenteHeading);
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
    margin: 0;
}

img {
    max-width: 100%;
}


/*--------------HEADER--------------*/

.header {
    background-image: url(../img/banner.jpg);
    height: 60rem;
    background-size: cover;
    background-position: center center;
}

.logo__name {
    margin: 0;
    text-align: center;
    color: var(--blanco);
    font-weight: 400;
}

.logo__bold {
    font-weight: bold;
}

.nav__link {
    display: block;
    text-align: center;
    color: var(--blanco);
    font-size: 1.8rem;
}

.bar {
    padding-top: 4rem;
}

@media (min-width: 768px) {
    .bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav {
        display: flex;
        gap: 2rem;
    }
}

.header__text {
    margin-top: 4rem;
}

@media (min-width: 768px) {
    .header__text {
        margin-top: 15rem;
    }
}

.header__text h2,
.header__text p {
    text-align: center;
    margin: 0;
    color: var(--blanco);
}


/*--------------BLOG--------------*/

@media (min-width: 768px) {
    .main-content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 2rem;
    }
}

.article,
.course,
.workshop {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.article:last-of-type,
.course:last-of-type,
.workshop:last-of-type {
    border: none;
    margin-bottom: 0;
}

.article__content h4,
.article__content p {
    margin: 0;
}

.button {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}

.button:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    .button {
        display: inline-block;
    }
}

.button--main {
    background-color: var(--negro);
}

.button--secondary {
    background-color: var(--primario);
}

.courses {
    list-style: none;
}

.course__title {
    margin: 0;
}

.course__label {
    font-size: 2rem;
    font-family: var(--fuenteHeading);
    font-weight: bold;
}

.course__info {
    font-weight: normal;
}


/*Nosotros*/

.title {
    text-align: center;
}

@media (min-width: 768px) {
    .about-us {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}


/*--------------CUSROS--------------*/

@media (min-width: 768px) {
    .workshop {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}

.workshop__label {
    font-size: 2rem;
    font-weight: bold;
}

.workshop__info {
    font-weight: normal;
}


/*--------------CONTACTO--------------*/

.backgroundimg {
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-position: center center;
    background-repeat: no-repeat;
}

.form {
    background-color: var(--blanco);
    width: 90%;
    margin: -5rem auto 0 auto;
    padding: 3rem;
}

.field {
    display: flex;
    margin-bottom: 2rem;
}

.field__label {
    flex: 0 0 9rem;
    text-align: center;
    padding-right: 2rem;
}

.field__input {
    flex: 1;
}

.field__input--textarea {
    height: 20rem;
}


/*--------------FOOTER--------------*/

.footer {
    margin-top: 2rem;
    background-color: var(--negro);
}